/* styles.css */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar-brand {
    font-weight: 700;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .img-thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
  }
  
  .img-thumbnail:hover {
    transform: scale(1.05);
  }
  
  #modalImage {
    max-height: 80vh;
  }
  
  footer {
    margin-top: 40px;
  }
  
  @media (max-width: 767px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    #modalImage {
      max-height: 60vh;
    }
  }


  /* Pattern background */
  .container-pattern{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        45deg,
        orange,
        orange 10px,
        orangered 10px,
        orangered 20px
      )
      orange;
    background-blend-mode: overlay;
  }
  

  /* Heading styles */
.heading-container {
    margin-bottom: 30px;
  }
  
  .heading {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    display: inline-block;
    padding: 0 20px;
  }
  
  .heading-underline {
    width: 100px;
    height: 4px;
    background-color: #faa7d8;
    margin: 10px auto 0;
  }